*
{
  margin: 0;
  font-family: 'Comic Sans MS', Future, sans-serif;
  box-sizing: border-box;
}

body
{
  background: #4bc3ffff;
}

header
{
  font-size: 36px;
  color: rgb(0, 0, 0);
}

footer
{
  background: #9fa0a1;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  padding: 3px;
}

.footerLinks
{
  word-spacing: 15px;
}

.headerKitties
{
  object-fit: cover;
  z-index: -5;
  position: absolute;
  width: 100%;
  height: 25%;
}

.mainText
{
  display: flex;
  justify-content: center;
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 200px;
}

.mainHeaderText {
  font-size: 22px;
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  margin-top: 10px;
  -webkit-text-stroke: 0.3px #fff;
  margin-bottom: 10px;
}

h1
{
  text-align: center;
  -webkit-text-stroke: 2px #fff;
}

h1, h2
{
  display: flex;
  justify-content: center;
}

a
{
  text-decoration: none;
  color: black;
}

.car
{
  position: fixed;
  right: 0;
  bottom: 0;
  align-self: baseline;
  border-radius: 6;
  border-style: solid;
  border-color: black;
  width: 175px;
}

.carReactionText
{
  border-radius: 0.4;
  border-style: solid;
  border-color: white;
  background: red;
  color: white;
  position: fixed;
  right: 0;
  text-align: center;
  bottom: 0;
  align-self: baseline;
  width: 175px;
}

.carDialogText
{
  font-family: Future;
  border-radius: 2;
  border-style: solid;
  text
  border-color: white;
  background: red;
  color: white;
  position: absolute;
  right: 0;
  text-align: center;
  bottom: 0;
  transform: translateY(-11rem);
  align-self: baseline;
  width: 175px;
}
/*------Carosuasdisadoaijl -----*/
#photoGallery {
  width: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.carousel-image {
  height: 400px;
  width: 600px;
  object-fit: cover;
  display: none;
}

.carousel-image.active {
  display: block;
}
