*
{
  margin: 0;
  font-family: 'Comic Sans MS', Future, sans-serif;
  box-sizing: border-box;
}

body
{
  background: #4bc3ffff;
}

footer
{
  background: #9fa0a1;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  padding: 3px;
}

.footerLinks
{
  word-spacing: 15px;
}
p, h1, h2 
{
  display:flex;
  justify-content: center;
}

a
{
  text-decoration: none;
  color: black;
}

.car
{
  position: fixed;
  right: 0;
  bottom: 0;
  align-self: baseline;
  border-radius: 6;
  border-style: solid;
  border-color: black;
  width: 175px;
}

.carReactionText
{
  border-radius: 0.4;
  border-style: solid;
  border-color: white;
  background: red;
  color: white;
  position: fixed;
  right: 0;
  text-align: center;
  bottom: 0;
  align-self: baseline;
  width: 175px;
}
/*------Carosuasdisadoaijl -----*/
#photoGallery {
  position: center;
  width: 50%;
  overflow: hidden;
}

.carousel-image {
  height: 400px;
  width: 600px;
  object-fit: cover;
  display: none;
  margin-left: auto;
  margin-right: auto;
}

.carousel-image.active {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
