*
{
  margin: 0;
  font-family: 'Comic Sans MS', Future, sans-serif;
  box-sizing: border-box;
}

body
{
  background: #4bc3ffff;
}

footer
{
  background: #9fa0a1;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}

.car
{
  position: fixed;
  right: 0;
  bottom: 0;
  align-self: baseline;
  width: 175px;
}
.carReactionText
{
  background: red;
  text-align: center;
  position: fixed;
  right: 0;
  bottom: 0;
  align-self: baseline;
  width: 175px;
}
